<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIOLET LIBRA <%= title %></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="page.css">
    <link rel="shortcut icon" href="favicon-256.png" type="image/png">
    <link rel="icon" href="favicon-256.png" type="image/png">
</head>
<body>
    <div id="app">
        <%- body %>
    </div>
    <footer>
        <p>Copyright © 2025 VIOLET LIBRA</p>
    </footer>
</body>
</html>